{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <h2>Go to</h2>
    <ul>
        <li>
            <a href="/admin/user">
                <h3>User</h3>
            </a>
        </li>
        <li>
            <a href="/admin/imagecategory">
                <h3>Product Category</h3>
            </a>
        </li>
        <li>
            <a href="/admin/productimages">
                <h3>Product Images</h3>
            </a>
        </li>
        <li>
            <a href="/admin/orderproduct">
                <h3>Order Product</h3>
            </a>
        </li>
    </ul>
    {% endif %}
{% endblock %}