{% extends 'base.html.twig' %}

{% block body %}
    <h2>Go to</h2>
    <ul>
        <li>
            <a href="/app_dev.php/admin/user">
                <h3>User</h3>
            </a>
        </li>
        <li>
            <a href="/app_dev.php/admin/imagecategory">
                <h3>Product Category</h3>
            </a>
        </li>
        <li>
            <a href="/app_dev.php/admin/productimages">
                <h3>Product Images</h3>
            </a>
        </li>
        <li>
            <a href="/app_dev.php/admin/orderproduct">
                <h3>Order Product</h3>
            </a>
        </li>
    </ul>
{% endblock %}