{% extends 'base.html.twig' %}

{% block body %}
    {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <h2>Go to</h2>
    <ul>
        <li>
            <a href="/admin/user">
                <h3>User</h3>
            </a>
        </li>
        <li>
            <a href="/admin/imagecategory">
                <h3>Product Category</h3>
            </a>
        </li>
        <li>
            <a href="/admin/productimages">
                <h3>Product Images</h3>
            </a>
        </li>
        <li>
            <a href="/admin/orderproduct">
                <h3>Order Product</h3>
            </a>
        </li>
    </ul>
    {% endif %}#}
    <div class="row">
        <div class="col-md-12">
            <div class="content-box-large">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h3>Welcome to {{ site_name }} Admin</h3>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="container">
                            <a href="/admin/user">
                                <div class="col-md-3 text-center" style="border:2px solid black;padding:15px;border-radius: 10px;box-shadow:gray 2px 2px 10px 1px;margin:10px;">
                                    <span class="glyphicon glyphicon-user" style="font-size: 60px;"></span>
                                    <h2>View Users</h2>
                                </div>
                            </a>
                            <a href="/admin/orderproduct">
                                <div class="col-md-3 text-center" style="border:2px solid black;padding:15px;border-radius: 10px;box-shadow:gray 2px 2px 10px 1px;margin:10px;">
                                    <span class="glyphicon glyphicon-user" style="font-size: 60px;"></span>
                                    <h2>View Orders</h2>
                                </div>
                            </a>
                            <a href="/admin/productimages">
                                <div class="col-md-3 text-center" style="border:2px solid black;padding:15px;border-radius: 10px;box-shadow:gray 2px 2px 10px 1px;margin:10px;">
                                    <span class="glyphicon glyphicon-user" style="font-size: 60px;"></span>
                                    <h2>View Products</h2>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}